.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px); 
    text-align: center;
    background-size: cover;   
    background-position: center; 
  }
   
  /* Nuevo: Estilos para el contenido */
  .content-wrapper {
    /* Ajusta el ancho según tus necesidades */
    width: 80%; 
    max-width: 800px; 
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
  }
   
  .dashboard-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
   
  .dashboard-link {
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
  }
   
  .dashboard-link:hover {
    background-color: #0056b3;
  }